
body {
    background-color: lightblue;
  }

  #paral {
   
    color: red;
    }
    .center {
        
        color: red;
        }

p1 {
      
      color: red;
            }
             th, td {
                border: 3px solid black
            }

            div {
                border: solid 5px red;
                padding-top: 50px;
                padding-right: 30px;
                padding-bottom: 50px;
                padding-left: 280px;
              }

              #modric {
   
                color: red;
                }
                .horvat {
                    
                    color: red;
                    }
            