<<<<<<< head

body {
    background-color: lightblue;
  }

  #paral {
   
    color: red;
    }
    .center {
        
        color: red;
        }

p1 {
      
      color: red;
            }
             th, td {
                border: 3px solid black
            }
=======
>>>>>>> parent of 234d5c9 (01 09)
